#d1 {
    background-color: #ff7823;
}

#d2 {
    background-color: rgba(255, 120, 35, 0.86);
}

#d3 {
    background-color: rgba(255, 120, 35, 0.71);
}

#d4 {
    background-color: rgba(255, 120, 35, 0.55);
}

#d5 {
    background-color: rgba(255, 120, 35, 0.41);
}

#d6 {
    background-color: rgba(255, 120, 35, 0.26);
}

#d7 {
    background-color: rgba(255, 120, 35, 0.11);
}

